:root{
    --primary-color: #F3F3E0;
    --secondary-color: #608BC1;
    --cta: #133E87;
    --black: #0B192C;
    
}
*{
    margin: 0px;
    padding: 0px;
    font-family: rubik;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
}
.containers{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.main{
    height: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.sider{
    width: auto;
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 40%;
    display: flex;
    flex-direction: column;
}
.logo-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-section img{
    border-radius: 50%;
    border: 1.5px solid var(--primary-color);
}
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.btn-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-top: 1px solid var(--primary-color); */
    margin-top: 30px;
    width: 160px;
    gap: 5px;
}
/* .btn{

} */
 .menu :hover{
    background-color: var(--cta);
    
 }
 .btn{
    cursor: pointer;
 }
 /* }
 .btn img{
    color: var(--secondary-color);
 }
 .usericon{
    color: black;
 } */
.modal{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:rgba(117, 151, 167,0.7);
    display: none;
}
/* .fm-modal{
    
} */
.fm-note{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    border-radius: 0.5cm;
    padding: 30px;
}
.heading h1{
    text-align: center;
    padding: 15px;
    font-family: "ubuntu";
    font-size: 24px;
    color: var(--cta);
}
.fm-group{
    margin-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: row;
}
.field{
    font-family: "ubuntu";
    font-weight: 100;
}
.fm-input{
    padding: 2px;
    font-size: 16px;
    font-family: "ubuntu";
    outline-color: var(--secondary-color);
    
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.btn{
    color: var(--primary-color);
    background-color: var(--cta);
    border-radius: 0.5cm;
    border: 1.5px solid var(--secondary-color);
    padding: 5px 20px;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
}
.x{
    background-color: var(--secondary-color);
}
.show{
    display: flex;
}
.b-content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow-y: scroll;
}
.table{
    margin-top: 20px;
    height: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
